/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0b1 | 201101
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: lightgray;
}
.top-containter {
  position: sticky;
  top: 0;
  background: lightgray;
  z-index: 2;
}
.bottom-container {
  z-index: 1;
  overflow: auto;
}
.top-bar {
  background: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.top-bar h1,
.top-bar .menu-icon {
  margin: 10px;
  color: white;
}
.scoreboard {
  display: flex;
  justify-content: center;
}
.scoreboard h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
.scoreboard .current-score {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search h5 {
  border: 1px solid green;
  padding: 10px;
}
.search .search-bar {
  border: 1px solid blue;
  height: 20px;
  margin: 10px;
}
.filter {
  border: 1px solid red;
}
.filter .row {
  border: 1px solid purple;
  display: flex;
  justify-content: space-around;
}
.filter .btn {
  border: 1px solid green;
  padding: 3px 10px;
  margin: 10px;
}
.filter .btn:hover {
  background: navy;
  opacity: .3;
  color: white;
}
.filter .selected {
  background: navy;
  color: white;
}
.all-license-plates {
  border: 1px solid pink;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.all-license-plates .license-plate {
  margin: 10px;
  width: 80px;
  height: 30px;
  opacity: .8;
  background: white;
}
.all-license-plates .license-plate:hover {
  opacity: 1;
}
.all-license-plates .found {
  background-color: green;
  opacity: .3;
}
.all-license-plates .missing {
  background-color: red;
  opacity: .1;
}
