.container {
  border: 1px solid red;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.top-bar {
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-bar h2,
.top-bar .menu-icon {
  border: 1px solid purple;
  margin: 10px;
}
.scoreboard {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
.scoreboard h5 {
  border: 1px solid purple;
  padding: 10px;
}
.scoreboard .current-score {
  border: 1px solid purple;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}
.search {
  border: 1px solid yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search h5 {
  border: 1px solid green;
  padding: 10px;
}
.search .search-bar {
  border: 1px solid blue;
  height: 20px;
}
.all-license-plates {
  border: 1px solid pink;
  display: flex;
  flex-wrap: wrap;
}
.all-license-plates .license-plate {
  margin: 10px;
  width: 80px;
  height: 30px;
  background: #C0c0c0;
}
.all-license-plates .found {
  background-color: green;
  opacity: .3;
}
