/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0b1 | 201101
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'license_plateregular';
  src: url('licenseplate-webfont.eot');
  src: url('licenseplate-webfont.eot?#iefix') format('embedded-opentype'), url('licenseplate-webfont.woff2') format('woff2'), url('licenseplate-webfont.woff') format('woff'), url('licenseplate-webfont.ttf') format('truetype'), url('licenseplate-webfont.svg#license_plateregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: lightgray;
}
.top-containter {
  position: sticky;
  top: 0;
  background: lightgray;
  z-index: 10;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
.bottom-container {
  z-index: 0;
  overflow: auto;
  background-image: image();
}
.top-bar {
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}
.top-bar h1 {
  text-align: center;
  font-family: 'license_plateregular', arial, sans-serif;
  font-size: 30px;
  margin: 10px;
  width: 100%;
  color: white;
}
.top-bar #menuButton {
  position: absolute;
  top: .5em;
  right: 20px;
  font-size: 40px;
  color: white;
  transition: 1s ;
}
.top-bar .menuOpen {
  transform: rotate(-90deg);
}
.optionsMenu {
  display: none;
  background-color: #646464;
  height: 10vh;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.optionsMenuOpened {
  display: flex;
}
#clearData {
  width: 6em;
  height: 2em;
  border: 1px solid gray;
  font-family: 'license_plateregular', sans-serif;
  padding: 3px 10px;
  margin: 10px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#clearData:hover {
  color: black;
  cursor: pointer;
  background-color: #efefef;
}
.scoreboard {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}
.scoreboard h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  font-size: 30px;
  font-weight: bold;
}
.scoreboard .current-score {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 50px;
  font-weight: bold;
}
.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-family: 'license_plateregular', sans-serif;
}
@media (max-width: 500px) {
  .filter {
    flex-direction: column;
  }
}
.filter .row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.filter .btn {
  border: 1px solid gray;
  font-family: 'license_plateregular', sans-serif;
  padding: 3px 10px;
  margin: 10px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter .btn:hover {
  color: black;
  cursor: pointer;
  background-color: #efefef;
}
.filter .selected {
  border: 2.5px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter #Found {
  background-color: rgba(38, 214, 56, 0.3);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter #Missing {
  background-color: rgba(255, 132, 132, 0.3);
}
.filter .search-bar {
  height: 4em;
  margin: 10px;
  width: 100%;
}
.licenesePlateContainer {
  background-color: black;
}
.all-license-plates {
  max-width: 130vh;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.all-license-plates .license-plate {
  font-family: 'license_plateregular', sans-serif;
  min-width: 30vh;
  max-width: 25%;
  min-height: 17vh;
  opacity: .8;
  background: white;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  box-sizing: border-box;
  margin: 10px;
}
.all-license-plates .license-plate .licensePlateTitle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 30px;
  z-index: 10;
  opacity: 0;
}
.all-license-plates .license-plate .licensePlateTitle:hover {
  opacity: 1;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}
.all-license-plates .license-plate .plateImage {
  width: 100%;
  height: auto;
  z-index: 2;
  position: absolute;
}
.all-license-plates .license-plate .plate-status {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(38, 214, 56, 0.3);
  z-index: 3;
}
.all-license-plates .found {
  background-color: rgba(38, 214, 56, 0.3);
  filter: grayscale(100%);
}
.all-license-plates .missing {
  background-color: rgba(255, 132, 132, 0.3);
}
.hidden {
  display: none !important;
}
.searchInputField {
  height: 1.5em;
  width: 50vh;
  font-size: 24px;
  text-align: center;
}
.credits {
  display: none;
  background-color: white;
  position: absolute;
  top: 40vh;
  border-radius: 6px;
  font-size: 36px;
  font-family: sans-serif;
  padding: 50px 100px;
  -webkit-box-shadow: 0px 0px 37px 10px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 0px 37px 10px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 0px 37px 10px rgba(0, 0, 0, 0.54);
}
.creditsDisplayed {
  display: flex;
}
#creditsButton {
  background-color: white;
  color: #627468;
  padding: 5px;
  border-radius: 5px;
}
