@import 'mixins.less';

.container {
  border: 1px solid red;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}//container

.top-bar {
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2, .menu-icon {
    border: 1px solid purple;
    margin: 10px;
  }
}//top-bar
.scoreboard {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  h5 {
    border: 1px solid purple;
    padding: 10px;
  }//h5
  .current-score {
    border: 1px solid purple;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
  }//current-score
}//scoreboard

.search {
  border: 1px solid yellow;
  .center();
  h5 {
    border: 1px solid green;
    padding: 10px;
  }
  .search-bar {
    border: 1px solid blue;
    height: 20px;
  }//search-bar
}//search

.all-license-plates {
  border: 1px solid pink;
  display: flex;
  flex-wrap: wrap;
  .license-plate {
    margin: 10px;
    width: 80px;
    height: 30px;

    background: #C0c0c0;
  }//license-plate
  .found {
    background-color: green;
    opacity: .3;
  }
}//all-license-plate
